.animated-btn {
  display: inline-block;
  width: 140px;
  height: 50px;
  background: linear-gradient(to top, #1e293b, #334155, #475569);
  color: #fff;
  border-radius: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  text-decoration: none;
  text-align: center;
}

.animated-btn span {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: top 0.4s ease;
  position: absolute;
  width: 100%;
  left: 0;
  transform: translateY(-50%);
}

.btn-text-one {
  top: 50%;
}

.btn-text-two {
  top: 150%;
}

.animated-btn:hover .btn-text-one {
  top: -50%;
}

.animated-btn:hover .btn-text-two {
  top: 50%;
}
