.animated-btn {
  padding: 0.8em 1.8em;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  color: #ffffff;
  transition: all 1000ms;
  font-size: 13px;
  position: relative;
  overflow: hidden;
  outline: 2px solid #ffffff;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  line-height: 1.5;
  background-color: transparent;
}

.animated-btn:hover {
  color: #0A0A0A;
  transform: scale(1.1);
  outline: 2px solid #ffffff;
  box-shadow: 4px 5px 17px -4px rgba(255, 255, 255, 0.2);
}

.animated-btn::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #ffffff;
  transform: skewX(45deg);
  z-index: -1;
  transition: width 1000ms;
}

.animated-btn:hover::before {
  width: 250%;
}
