.glitch {
  position: relative;
  color: white;
  text-transform: uppercase;
}

.glitch::before,
.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0A0A0A;
  overflow: hidden;
  clip-path: inset(50% 50% 50% 50%);
}

.glitch.enable-on-hover::before,
.glitch.enable-on-hover::after {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.glitch.enable-on-hover:hover::before,
.glitch.enable-on-hover:hover::after {
    opacity: 1;
}

.glitch::before {
  animation: glitch-anim-2 var(--before-duration) infinite linear alternate-reverse;
  text-shadow: var(--before-shadow);
}

.glitch::after {
  animation: glitch-anim-1 var(--after-duration) infinite linear alternate-reverse;
  text-shadow: var(--after-shadow);
}

@keyframes glitch-anim-1 {
  0% { clip-path: polygon(0 60%, 100% 60%, 100% 65%, 0 65%); }
  10% { clip-path: polygon(0 20%, 100% 20%, 100% 25%, 0 25%); }
  20% { clip-path: polygon(0 80%, 100% 80%, 100% 85%, 0 85%); }
  30% { clip-path: polygon(0 40%, 100% 40%, 100% 45%, 0 45%); }
  40% { clip-path: polygon(0 70%, 100% 70%, 100% 75%, 0 75%); }
  50% { clip-path: polygon(0 30%, 100% 30%, 100% 35%, 0 35%); }
  60% { clip-path: polygon(0 90%, 100% 90%, 100% 95%, 0 95%); }
  70% { clip-path: polygon(0 10%, 100% 10%, 100% 15%, 0 15%); }
  80% { clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%); }
  90% { clip-path: polygon(0 5%, 100% 5%, 100% 10%, 0 10%); }
  100% { clip-path: polygon(0 75%, 100% 75%, 100% 80%, 0 80%); }
}

@keyframes glitch-anim-2 {
  0% { clip-path: polygon(0 5%, 100% 5%, 100% 10%, 0 10%); }
  10% { clip-path: polygon(0 75%, 100% 75%, 100% 80%, 0 80%); }
  20% { clip-path: polygon(0 40%, 100% 40%, 100% 45%, 0 45%); }
  30% { clip-path: polygon(0 90%, 100% 90%, 100% 95%, 0 95%); }
  40% { clip-path: polygon(0 20%, 100% 20%, 100% 25%, 0 25%); }
  50% { clip-path: polygon(0 60%, 100% 60%, 100% 65%, 0 65%); }
  60% { clip-path: polygon(0 30%, 100% 30%, 100% 35%, 0 35%); }
  70% { clip-path: polygon(0 80%, 100% 80%, 100% 85%, 0 85%); }
  80% { clip-path: polygon(0 15%, 100% 15%, 100% 20%, 0 20%); }
  90% { clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%); }
  100% { clip-path: polygon(0 70%, 100% 70%, 100% 75%, 0 75%); }
}