.tooltip-container {
  position: relative;
  display: inline-block;
  margin: 0 8px;
}

.tooltip {
  position: absolute;
  bottom: 160%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  padding: 0;
  border-radius: 7px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s ease, visibility 0.4s ease, bottom 0.4s ease;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  width: 250px;
  z-index: 50;
  background-color: #1a1a1a;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.tooltip-container:hover .tooltip {
  visibility: visible;
  opacity: 1;
  bottom: 150%;
}

.tooltip .profile {
  padding: 15px;
}

.tooltip .user {
  display: flex;
  align-items: center;
}

.tooltip .img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #fff;
  font-size: 1.5rem;
  margin-right: 15px;
  flex-shrink: 0;
}

.tooltip .details {
  display: flex;
  flex-direction: column;
}

.tooltip .name {
  font-weight: bold;
  font-size: 1.1rem;
  color: #fff;
}

.tooltip .username {
  font-size: 0.9rem;
  color: #888;
}

.tooltip .about {
  margin-top: 15px;
  font-size: 0.9rem;
  color: #aaa;
}

.icon .layer {
  width: 55px;
  height: 55px;
  transition: transform 0.3s;
  border-radius: 50%;
}

.icon:hover .layer {
  transform: rotate(-35deg) scale(1.1);
}

.layer span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
}

.icon .text {
  position: absolute;
  left: 50%;
  bottom: -5px;
  opacity: 0;
  font-weight: 500;
  font-size: 12px;
  transform: translateX(-50%);
  transition: bottom 0.3s ease, opacity 0.3s ease;
  color: #fff;
}

.icon:hover .text {
  bottom: -30px;
  opacity: 1;
}

.icon:hover .layer span:nth-child(1) {
  border-color: #4267B2; /* LinkedIn */
  transform: scale(1);
}
.icon:hover .layer span:nth-child(2) {
  border-color: #333; /* GitHub */
  transform: scale(0.9);
}
.icon:hover .layer span:nth-child(3) {
  border-color: #1DA1F2; /* Twitter */
  transform: scale(0.8);
}
.icon:hover .layer span:nth-child(4) {
  border-color: #000; /* Medium */
  transform: scale(0.7);
}

.icon .fab {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  color: #fff;
  transition: all 0.3s;
}

.icon:hover .fab {
  color: #fff;
}

.icon .layer span.fab {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-link {
  display: inline-block;
  text-decoration: none;
  position: relative;
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-links-container {
    display: flex;
    gap: 1rem;
    align-items: center;
}
